@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img  style="height:320px; width:100%" src="../Images/11165048_10205790418376106_1583625492489848590_o[1].jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>Hairstories By Amanda</h3>
                
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img  style="height:320px; width:100%" src="../Images/11034915_797438357012307_5478499074439410009_n[1].jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Book Today</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px; width:100%" src="../Images/20191030_114005_resized.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Follow Us</h3>
              
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>
<div class="olContent f1">
    <h2 style="color: black">Search Products</h2>
</div>

<div class="olSearch fr">
    <input type="text" placeholder="Enter Keyword" name="searchKey" class="inputComn houseText form-control" />
    <div class="searchIcon">
        <button type="button" class="searchBtn">
            <img src="~/Images/searchIcon.png"/>
        </button>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Styles <small>trends styles</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:300px; ">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor: pointer; height: 160px; width: 260px;"
                 src="../Images/12115882_10207122961448850_2917722528973844433_n[1].jpg" />

            <div class="caption">
                <h5>The Rachel</h5>
                <p>$150.00</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>

    <div class="row product-container">
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px;">

                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor: pointer; height: 160px; width: 260px;"
                     src="../Images/20200117_134129_resized.jpg" />

                <div class="caption">
                    <h5>Views from Scottsdale</h5>
                    <p>$150.00</p>
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>
            </div>
        </div>
        <div class="row product-container">
            <div class="col-md-3 col-sm-4 col-xs-6" style="margin-bottom:8px">
                <div class="thumbnail product-item" style="height:300px;">

                    <img class="img-responsive" title="Click to View Product detail"
                         style="cursor: pointer; height: 160px; width: 260px;"
                         src="../Images/20200530_125149_resized.jpg" />

                    <div class="caption">
                        <h5>Paradise Punch</h5>
                        <p>$250.00</p>
                        <p>Available</p>
                        <div class="product-item-badge">New</div>
                    </div>
                </div>
            </div>
            <div class="row product-container">
                <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;">
                    <div class="thumbnail product-item" style="height:300px;">

                        <img class="img-responsive" title="Click to View Product detail"
                             style="cursor: pointer; height: 160px; width: 260px;"
                             src="../Images/20200228_155510_resized.jpg" />

                        <div class="caption">
                            <h5>The Phoenician</h5>
                            <p>$200.00</p>
                            <p>Available</p>
                            <div class="product-item-badge">New</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

