@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img  style="height:320px; width:100%" src="../Images/10488346_785799778176165_782189203468114756_n[1].jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>Hairstories By Amanda</h3>
                
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img  style="height:320px; width:100%" src="../Images/12115882_10207122961448850_2917722528973844433_n[1].jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Book Today</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px; width:100%" src="../Images/11227763_906123556143786_9073798539572789169_n[1].jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Follow Us</h3>
              
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>